[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = EmotionMusic
[access "refs/*"]
	owner = group user/divxkorea
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/divxkorea
	label-Verified = -1..+1 group user/divxkorea
	push = group user/divxkorea
	read = group user/divxkorea
	rebase = group user/divxkorea
	removeReviewer = group user/divxkorea
	submit = group user/divxkorea
[access "refs/heads/*"]
	create = group user/divxkorea
	push = +force group user/divxkorea
	pushMerge = group user/divxkorea
	read = group user/divxkorea
[access "refs/tags/*"]
	push = group user/divxkorea
	push = +force group user/divxkorea
